<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Novo Aviao</h1>
            </hgroup>
            <p>
                Aviao
            </p>
            <input type="text" name="nome"/>
            <input type="text" name="assentos"/>
            <input type="submit" value="altearModelo"
        </div>
    </section>
</div>
