<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@this.ViewBag</h1>
            </hgroup>
            <p>
                Agora vai manoooooooooooooo
            </p>
                <nav>
                    <ul id="menu02">
                        <li>@Html.ActionLink("Novo Aviao", "Form", "Aviao")</li>
                    </ul>
                </nav>
        </div>
    </section>
</div>
