<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Novo Aviao</h1>
            </hgroup>
            <p>
                Aviao
            </p>
            <label>Modelo:</label><input type="text" name="nome" value="1"/>
            <br>
            <label>Assento:</label><input type="text" name="assentos"/>
            <input type="submit" value="alterar Modelo"
        </div>
    </section>
</div>
