@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Institucional";
}
 	<div id="conteudo">

         <div id="conteudo-central">

           <h1>Institucional</h1><br />

             <p>A <B>FCA Flying Circus Airlines</B> faz de tudo para você voar do seu jeito. Por isso,  ela é a companhia aérea que mais inova no mercado brasileiro de aviação. Assim, a FCA se tornou referência mundial ao democratizar o transporte aéreo no Brasil. <br /><br />

Em todos os voos da empresa, as refeições servidas são quentes e de alta qualidade. Além disso, a empresa conta com serviço de bordo especializado, sem falar no sistema de entretenimento overhead – onde telas coletivas são distribuídas ao longo da aeronave, no teto. A programação é fixa e muda mensalmente; incluindo documentários, vídeos musicais, seriados de televisão e canais de áudio individuais.  
</p>
         </div>

 	</div>