@model Alphanet.Acesso.Aplicacao.Data.UsuarioData
@{
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Usuário</h1>
            </hgroup>
         
            <form method="post" action="Salvar">
                <fieldset>
                    <legend>Cadastro de Usuários</legend>
                    <input type="hidden" name="usuarioId" value="@Model.usuarioId"/>
                    <label>Login: </label><input type="text" name="login" value="@Model.login"/>
                    <br><label>Nome: </label><input type="text" name="nome" value="@Model.nome"/>
                    <br><label>Email: </label><input type="text" name="email" value="@Model.email"/>
                    <br><input type="submit" value="Salvar" />
                </fieldset>
            </form>
           
        </div>
    </section>
</div>
        