@model AlphaNet.PassagemAerea.Aplicacao.Avioes.Data.AviaoData

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Novo Aviao</h1>
            </hgroup>
            <p>
                Aviao
            </p>
            <form method="post">
                <label>Modelo:</label><input type="text" name="modelo"/>
                <br>
                <label>Assento:</label><input type="text" name="assentos"/>
                <br><input type="submit" value="alterar Modelo" />
            </form>
        </div>
    </section>
</div>