@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
	<div id="conteudo">

         <div id="conteudo-central">

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Cadastre-se</h1>
            </hgroup>
         
            <form method="post" action="registrarNovoUsuario">
                <fieldset>
                    <legend>Informe seus dados</legend>
                    <input type="hidden" name="papel" value="Usuario" />
                   <ul id="aform" >
                    <li><label>Login </label><input type="text" name="login"/></li>
                    <li><label>Nome </label><input type="text" name="nome"/></li>
                    <li><label>Senha </label><input type="password" name="senha"/></li>
                    <li><label>Repetir Senha </label><input type="password" name="senhaRepetida"/></li>
                    <li><label>Email </label><input type="text" name="email"/></li>
                    </ul>
                    <br><input type="submit" value="Salvar" />
                </fieldset>
            </form>
        </div>
    </section>
</div>
        
</div>
</div>