@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Minhas Reservas";
}
 	<div id="conteudo">

         <div id="conteudo-central">

           <h1>Minhas Reservas</h1>
         </div>

 	</div>