@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Dicas de Viagens";
}
 	<div id="conteudo">

         <div id="conteudo-central">

           <h1>Dicas de Viagem</h1>

             <p>Pesquisar preços de pacotes, comprar moeda estrangeira, arrumar a mala. Quem tem planos de viajar no fim do ano, provavelmente, já começou a planejar essas etapas das férias. Algumas outras precauções podem ser tomadas antes da partida:<br /><br />


<img src="/Content/themes/base/images/bullet.png" class="bullet" border="0" > A compra com antecedência e a pesquisa prévia de passagens e hotéis ;<br /><br />

<img src="/Content/themes/base/images/bullet.png" class="bullet" border="0" > Pacotes comprados, apenas, com base no preço, podem causar surpresas desagradáveis por causa de serviços não prestados;<br /><br />

<img src="/Content/themes/base/images/bullet.png" class="bullet" border="0" > Quem for levar um cartão de crédito internacional deve ligar para a operadora dias antes da viagem. São dois os motivos para isso:  1- Ao ligar para a operadora informando as datas de ida e volta, evita-se passar pelo constrangimento de ter o cartão recusado lá fora, caso não esteja acostumado a fazer compras no exterior e isso gere desconfiança na empresa. 2- A outra vantagem é que muitas operadoras oferecem aos seus clientes, gratuitamente, seguros-saúde de viagem. Esses seguros são obrigatórios para a entrada, por exemplo, nos países da União Europeia;<br /><br />

<img src="/Content/themes/base/images/bullet.png" class="bullet" border="0" > Não leve só cartão de crédito para as compras. O cartão de débito pré-pago é uma boa ideia porque tem Imposto Sobre Operações Financeiras (IOF) mais baixo, de 0,38% no carregamento (no caso do cartão de crédito, o imposto é de 6,38% por compra);<br /><br />

<img src="/Content/themes/base/images/bullet.png" class="bullet" border="0" > Uma pequena quantia de dinheiro em espécie é importante para despesas do dia a dia. Em todo caso, as casas de câmbio têm se mostrado opções mais interessantes do que os bancos.
</p>
         </div>

 	</div>