@model AlphaNet.PassagemAerea.Aplicacao.Cidades.Data.CidadeData
@{
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Cidade</h1>
            </hgroup>
         
            <form method="post" action="Salvar">

                  <fieldset>
                    <legend>Cadastro de Cidade</legend>
                <input type="hidden" name="cidadeId" value="@Model.cidadeId"/>
                <label>Nome:</label><input type="text" name="nome" value="@Model.nome"/>
                <br>
                <label>C.E.P.:</label><input type="text" name="cep" value="@Model.cep"/>
                <br><input type="submit" value="Salvar" /><br /><br />
                      </fieldset>
            </form>
             <a href="@Url.Action("Index","Cidade")"><img src="~/Content/themes/base/images/voltar.png" id="bt-voltar" /></a>  
        </div>
    </section>
</div>
