<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@this.ViewBag</h1>
            </hgroup>
            <p>
                Agora vai manoooooooooooooo
            </p>
        </div>
    </section>
</div>
