@model AlphaNet.PassagemAerea.Aplicacao.Clientes.Data.ClienteData
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 	<div id="conteudo">

         <div id="conteudo-central">
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Cliente</h1>
            </hgroup>
        
            <form method="post" action="NovoCliente">
                <fieldset>
                    <legend>Cadastro de Cliente</legend>
                <input type="hidden" name="vooId" value="@ViewBag.vooId"/>
                <label>Nome: </label><input type="text" name="nome" value="@ViewBag.nome"/>
                <br>
                <label>Email: </label><input type="text" name="email" value="@ViewBag.email"/><br />
                <br><input type="submit" value="Salvar" />
                </fieldset>
            </form>
        </div>
    </section>
</div>
</div>
</div>