body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/*------------Layout responsivo PI ------------*/

body{
	background-color: #efefef;	
	margin:0px auto 0px;
    background-image:url(../Content/themes/base/images/top.jpg);
    background-position-x:center;
    background-repeat:no-repeat; 

}

img, embed, object, video {
	max-width: 100%;

}

img, embed, object, video {
	width: 100%;

}


html {	
	font-family: Arial, Helvetica, sans-serif;
}
h1{
	font-size:1.5em;
	color:#003366;
}

#container{
	width: 100%; /* 1000px; */
	max-width: 1000px; 
	height: 60%; /* 600px; */
	margin: 0% auto; /* 0px; */
}

#top{
	width: 100%; /* 1000px; */
    height:136px;
    background-color:#ddd;
    background-image:url(../Content/themes/base/images/top.jpg);
    
}
#top-adm{
	width: 100%; /* 1000px; */
    height:136px;
    background-color:rgba(255, 255, 255, 0.70);
    
}

#logo{
	width: 24.1%; /* 241px; */
	margin-top: 0.3%;  
	margin-left:2%; /* 20px; */
	float: left;
 
}

#fca {
    width: 40%;
    margin: 4% 6% 0 0;
	float: right;
   
}

#logo_adm{
	width: 24.1%; /* 241px; */
	margin-top: 0;  
	margin-left:2%; /* 20px; */
    float:left;

 
 
}
#login{
	width: 30%; /* 418px; */
	height: 15%; /* 75px; */
	margin:0;
	float: right;

}

.form-login{
	width: 100%;
	margin:0;
	padding: 1%;
	float: right;
	font-size: 0.8em;
    text-align:center;
	color:#FFF;
    background-color:#0074bb; 

   
}
.form-login a {
    color:#fff;
    font-weight:bold;
    text-decoration:none;
}
    

#topo-login{
    width: 20%;
    float: right;
    background-color:#0074bb; 
    background-image:url(../Content/themes/base/images/top.jpg);

}

.form-login-adm{
	width: 100%;
	margin: 0;
	padding: 1%;
	font-size:1em; /* 13px; */
    background-color:#a8acad;
    text-align:center;
    float:right;
    color:#FFF;
   
}
.form-login-adm a{
    color:#FFF;
	text-decoration:none;
    font-weight:bold;
   
}

#fca {
    width: 40%;
    margin: 3% 9% 0 0;
	float: right;
}


.form-login li{
	display:inline;
	padding:1%;
}


#nav{
	width:100%; /* 1000px; */
    background-color:#ddd;
	float:left;	

}

.botao {
	display: inline-block;
	background-color: #fff;
	background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.30));
	padding: 2% 5.72%;
	font-size: 0.8em;
	border: 0px;
}

.botao a {
	text-decoration: none;
    color: #333;
 }

.botao:hover {
	background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.45));
	color:#cc3300;
}

.bullet {
    width: 7px;
}

#nav-adm{
	width:100%; /* 1000px; */
    background-color:#ccc;
	float:left;	

}

.botao-adm {
	display: inline-block;
	background-color: #ddd;
	background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.30));
	padding: 2% 6.05%;
	font-size: 0.8em;
	border: 0px;
}

.botao-adm a {
	text-decoration: none;
    color: #fff;
    font-weight:bold;
 }

.botao-adm:hover {
	color:#cc3300;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.45));
}

#facebook{
	width: 49px; /* 66px; */
	height: 47px; /* 57px; */
	float: left;
     margin:0px;
     padding:0px;
}

#twitter{
	width: 49px; /* 49px; */
	height: 47px; /* 57px; */
	float: left;
     margin:0px;
     padding:0px;

}

#youtube{
	width: 58px; /* 61px; */
	height: 47px; /* 57px; */
	float: left;
     margin:0px;
     padding:0px;
}



#conteudo{
	width: 100%; /* 1000px; */
	margin: 0px;
	float:left;
	background-color: #fff;
}
#conteudo-central{
	width: 90%;
	min-height: 200px;
	margin: 4% auto; 
	font:Verdana, Geneva, sans-serif;
	font-size: 13px;
	color:#333;
	text-align:justify;
    background-color: #fff;
}

#banner{
    width: 100%; /* 1000px; */
    height:423px;
	margin:0;
}

#fundo_branco{
	width: 20%; /* 270px; */ 
	height: 55%; /* 390px; */
	margin-top: 1.7%; /* 15px; */
	margin-left: 1.7%; /* 15px; */
	position: absolute;
	font-size:0.8em;
    background-color: rgba(255, 255, 255, 0.70);
}
#titulo{
	background:#999;
	color:#FFF;
	font-size:0.9em;
	font-weight:bold;
	padding: 3%;
	text-align: center;
	letter-spacing:0.1em;
}


.form-busca{
	width: 92%;
    margin-top: 0% 0.2% 0,5% 0%;
	padding: 4%;
	float: right;
	font-size:0.8em; /* 13px; */
	
	
}

.form-busca li{
	list-style:none;
	margin: 3%;
	float:left;
	font-size:1.5em;
}

table{
	width: 100%;
	background-color:#fff;
	border-color:#FFF;
    border-collapse: collapse;
}

caption{
	background-color:#999;
    height:25px;
    padding:10px;
	color:#fff;
    font-size: 1.3em;
    font-weight:bold;
}

th{
	background-color:#ccc;
	color:#fff;
    font-size: 1.1em;
    }

tr:nth-child(2n+1) {
    background-color: #F5F5F5
}
th, td {
	padding:10px;
	margin: 10px;
    text-align: center;

}

fieldset {
    width: 600px;
    margin:2% auto;
    padding: 3%;
    text-align: center;
    align-content:center;
  
}
legend {
    font-size: 1.25em;
    color: #0a2a76;

}

#menu02 li {
    list-style-type:none;
}
#bt-nova-reserva {
    width: 96px;
    margin-bottom:3%;
}

#bt-novo-voo {
    width: 73px;
    margin-bottom:1%;
}
#bt-excluir {
    width: 20px;
}

#bt-editar {
    width: 25px;
}
#bt-novo-cliente {
    width: 96px;
    margin-bottom:1%;
}
#bt-novo-usuario {
    width: 96px;
    margin-bottom:1%;
}
#bt-novo-aviao {
    width: 96px;
    margin-bottom:1%;
}

#bt-voltar {
   width: 73px;
   float: right;
   margin-top: 2%;
   margin-bottom:3%;

   
}

#bt-nova-cidade {
    width: 96px;
    margin-bottom:3%;
   
}


#rodape{
	width: 100%;
	float:left;
	background-color: #fff;
	background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.30));
}
#rodape-texto{
font-size: 0.92em;
	font-weight:bold;
	color:#808080;
	text-align: center;
	margin: 5px 0 0 0;
}
#rodape-adm {
    width: 100%;
    height: 47px;
    float:left;
    display: inline;
    background-color:#acb1b4;


}
#rodape-adm-texto {
    color:#fff;
    height: 47px;
    font-weight:bold;
    text-align: center;
    margin-top: 13px;

}


#desenvolvimento{
	width: 190px; /* 253px; */
	height: 48px; /* 32px; */
	float: left;
}

#direitos{
    width: 62.4%;
	font-size:0.9em;
	font-weight:bold;
	color:#666;
	text-align:center;
	margin:15px auto 0;
    float:left;
}

Label {
    font-weight:bold;
}

@media (max-width: 900px) {

    #top{
	width: 100%; /* 1000px; */
    height:15%;
    background-image:url(themes/base/images/top.jpg);
    
}
    #logo{
	    width: 35%; /* 241px; */
	    margin-top: 0.3%;  
	    margin-left:2%; /* 20px; */
	    float: left;
 
    }
    #conteudo{
        width: 100%; /* 1000px; */
        height: 345px; /* 423px; */
        margin: 0;
        float:left;
        position: relative;
  }


     #fundo_branco{
	        width: 35%; /* 270px; */ 
	        height: 2%; /* 390px; */
	        margin-top: 1%; /* 15px; */
	        margin-left: 1%; /* 15px; */
	        position: absolute;
	        font-size:0.8em;
   }

     .botao {
	  padding: 3% 6%;
}

@media (max-width: 800px) {
    #logo{
	    width: 40%; /* 241px; */
	    margin-top: 0.3%;  
	    margin-left:2%; /* 20px; */
	    float: left;
 
    }

        #conteudo{
	        width: 100%; /* 1000px; */
	        height: 310px; /* 423px; */
	        margin: 0;
	        float:left;
	        position: relative;   
       
}
        #fundo_branco{
	        width:50%; /* 270px; */ 
	        height: 4%; /* 390px; */
        }

        #form-busca {
            width: 92%;
            margin-top: 0% 0.2% 0,5% 0%;
            padding: 2%;
            float: right;
            font-size: 0.8em; /* 13px; */
            background-color: rgba(255, 255, 255, 0.50);
    }
         .form-busca li{
            list-style:none;
            margin: 1%;
            float:left;
            font-size:1.5em;
    }
        .botao {
	  padding: 4% 7%;
}


}


@media (max-width: 600px) {
    #logo{
	    width: 50%; /* 241px; */
	    margin-top: 0.3%;  
	    margin-left:2%; /* 20px; */
	    float: left;
 
    }
        #conteudo{
	        width: 100%; /* 1000px; */
	        height: 230px; /* 423px; */
	        margin: 0;
	        float:left;
	        position: relative;  
   
 }
        
        #fundo_branco{
	        width:98%; /* 270px; */ 
	        height: 3%; /* 390px; */
	        margin-top: 0.5%; /* 15px; */
	        margin-left: 0.5%; /* 15px; */
	        position: absolute;
	        font-size:0.8em;
        }

        #form-busca {
            width: 92%;
            margin-top: 0% 0.2% 0,5% 0%;
            padding: 2%;
            float: right;
            font-size: 0.8em; /* 13px; */
            background-color: rgba(239, 239, 239, 0.90);
    }
         .form-busca li{
            list-style:none;
            margin: 1%;
            float:left;
            font-size:1.5em;
    }
        .botao {
	  padding: 5% 8%;
}

}
@media (max-width: 400px) {
    #logo{
	    width: 60%; /* 241px; */
	    margin-top: 0.3%;  
	    margin-left:2%; /* 20px; */
	    float: left;
 
    }

        #conteudo{
	    width: 100%; /* 1000px; */
	    height: 260px; /* 423px; */
	    margin: 0;
	    float:left;
    }
	
     #fundo_branco{
	        width: 98%; /* 270px; */ 
	        height: 4%; /* 390px; */
	        margin-top: 1.7%; /* 15px; */
	        margin-left: 1.7%; /* 15px; */
	        position: absolute;
	        font-size:0.8em;
    }
    .form-busca {
        width: 92%;
        margin-top: 0% 0.2% 0,5% 0%;
        padding: 4%;
        float: right;
        font-size: 0.8em; /* 13px; */
        background-color: rgba(239, 239, 239, 0.90);
    }
       .botao {
	  padding: 6% 9%;
}
}

