<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>ALPHANET!</h1>
                <h2>AlphaNet viagens.</h2>
            </hgroup>
            <p>
                ALPHA.NET
            </p>
        </div>
    </section>
</div>
