<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>ALPHANET!</h1>
                <h2>AlphaNet viagens.</h2>
            </hgroup>
            <p>
                ALPHA.NET Web.
            </p>
            <p>
                <a href="http://www.google.com.br" title="Google"></a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Aprenda o sistema em 3 passos:</h3>
        <ol class="round">
            <li class="one">
                <h5>primeiro</h5>
                    Primeiro
            </li>

            <li class="two">
                <h5>Segundo</h5>
                Segundo
            </li>
            <li class="three">
                <h5>Terceiro</h5>
                Terceiro
            </li>
        </ol>
    </section>
</div>
