@{
    ViewBag.Title = "Alphanet - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 	

    <div id="conteudo">
        <div id="conteudo_central">
<div class="form-busca">
<div id="titulo">PESQUISA RÁPIDA</div>
    
  <form name="form2" method="post" action="pesquisa.asp">
  <ol>
    <li><label><input type="radio" name="radio" id="idavolta" value="ida">Ida e volta</label></li>
    <li><label><input type="radio" name="radio" id="ida" value="volta">Somente ida</label></li>
    <li>  <label>Origem: 
        @Html.DropDownList(
            "origem", 
            new SelectList(
                ViewBag.cidades, 
                "cidadeId", 
                "nome"))
    </label></li>
     <li>  <label>Destino: 
        @Html.DropDownList(
            "destino", 
            new SelectList(
                ViewBag.cidades, 
                "cidadeId", 
                "nome"))</label>     

     </li>
      <li><label>Partida:</label> <input type="text" id="partida" /></li> 
      <li><label>Volta: </label> <input type="text" id="chegada" /></li> 
      <li><label> No. passagens:</label><input type="text" id="assentos" name="assentos" size="4" /></li>
      <li><p><input type="submit" name="button" id="button" value="Pesquisar"   align="center"></p></li>
    </li>
  </ol>
  </form>




</div>

<div id="banner"><img src="/Content/themes/base/images/banner1.jpg"></div>

</div>
        </div>


<script type="text/javascript">
        $(function () {
            $("[id$=partida]").datepicker({
                showOn: "button",/*
                buttonImage: "calendario.png",
                buttonImageOnly: true*/
                changeMonth: true,
                changeYear: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],
                dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
                monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez']
            });
            $("[id$=chegada]").datepicker({
                showOn: "button"/*,
                buttonImage: "calendario.png",
                buttonImageOnly: true*/
            });
        });
    </script>

@*
<!-- Script para controle de data dos campos data inicio, data fim, inscricao inicio, inscricao fim e data certificado -->
        <script type="text/javascript">

            $(function () {
                $("#Data_Inicio").datepicker({
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Próximo',
                    prevText: 'Anterior',
                    separator: ' ',
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    minDate: "@DateTime.Now",
                    showAnim: "show",
                    onSelect: function () {
                        var d2 = $(this).datepicker("getDate");
                        d2.setDate(d2.getDate() + 5);
                        var d3 = $(this).datepicker("getDate");
                        d3.setDate(d3.getDate());
                        $("#Data_Fim").datepicker("setDate", d2);
                        $("#Data_Fim").datepicker("option", "minDate", d2);
                        $("#Data_Certificado").datepicker("option", "minDate", d2);
                        $("#Inscricao_Inicio").datepicker("option", "maxDate", d3);
                        $("#Inscricao_Fim").datepicker("option", "maxDate", d3);
                    }
                });

                $("#Data_Fim").datepicker({
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Próximo',
                    prevText: 'Anterior',
                    separator: ' ',
                    changeMonth: true,
                    changeYear: true,
                    numberOfMonths: 1,
                    showAnim: "show",
                    disabled: true,
                    onSelect: function () {
                        var d2 = $(this).datepicker("getDate");
                        d2.setDate(d2.getDate());
                        $("#Data_Certificado").datepicker("setDate", null);
                        $("#Data_Certificado").datepicker("option", "minDate", d2);
                    }

                });

                $("#Inscricao_Inicio").datepicker({
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Próximo',
                    prevText: 'Anterior',
                    separator: ' ',
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    showAnim: "show",
                    onSelect: function () {
                        var d2 = $(this).datepicker("getDate");
                        d2.setDate(d2.getDate());
                        $("#Inscricao_Fim").datepicker("setDate", null);
                        $("#Inscricao_Fim").datepicker("option", "minDate", d2);
                    }


                });

                $("#Inscricao_Fim").datepicker({
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Próximo',
                    prevText: 'Anterior',
                    separator: ' ',
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    minDate: "#Inscricao_Inicio",
                    showAnim: "show",
                });

                $("#Data_Certificado").datepicker({
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Próximo',
                    prevText: 'Anterior',
                    separator: ' ',
                    changeMonth: true,
                    changeYear: true,
                    numberOfMonths: 1,
                    yearRange: "2013:2020",
                    showAnim: "show",
                    disabled: false,

                });
            });
        </script>

*@