@{
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}
@using (Html.BeginForm()) {
    <fieldset>
        <legend>Relatorios</legend>
        <div id="body">
            <section class="featured">
                <div class="content-wrapper">
                    <hgroup class="title">
                       
                    </hgroup>
                   <p> @Html.ActionLink("Relatório de Clientes","Clientes" , null, new {target = "_blank"})</p>
                   <p> @Html.ActionLink("Relatório de Cidades","Cidades", null, new {target = "_blank"})</p>
                   <p>@Html.ActionLink("Relatório de Avioes","Aviões", null, new {target = "_blank"})</p> 

               </div>
            </section>
        </div>
    </fieldset>
}