@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
    var exception = Model.Exception;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h2>Um erro ocorreu enquanto processava sua solicitação.</h2>
        <h1>@exception.Message</h1>
    </hgroup>
</body>
</html>